body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    margin: 0px;
    background-color: black;
    box-sizing: border-box;
}

.grid-element {
    /* (var(--grid-size)+1) doesn't work, so we have to add an additional + var(--grid-gap) to make it size+1 times*/
    aspect-ratio: 1;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: white;
}
